body {
    font-family: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: green;
    color: gold;
    
}

.left-nav-items {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-nav-items {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:visited {
    color: gold;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    background-color: rgb(143, 38, 38);
    /* float: left; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.flex-container {
    display: flex;
    /* height: 100vh; */
    border-style: solid;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: flex-start;
    padding: 30px;
    align-content: space-around; */
  }

.card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 70px 40px;
    width: 150px;
    font-size: 20px;
    border-style: solid;
    border-left: 50px solid;
    cursor: pointer;
}

.card:hover, .user-card:hover {
    background-color: rgb(143, 38, 38);
    border-left-color: green;
    color: gold;
}

.show {

    background-color: #f1f1f1;
    margin: 10px;
    padding: 40px;
    /* height: 100vh; */
    width: 100vw;
    font-size: 30px;
    border-style: solid;
    /* overflow: hidden; */
    word-wrap: break-word;
}

.show img {
    
    border-style: solid;
    width: 75vw;
    height: 20vh;
}

.show h1 h2 p {
    text-align: left;
    word-wrap: break-word;

}

.user-box {
    
    background-color: #f1f1f1;
    margin: 10px;
    padding: 40px;
    /* height: 100vh; */
    width: 100vw;
    font-size: 30px;
    border-style: solid;
    /* overflow: hidden; */
    /* word-wrap: break-word; */
}

.user-image {
    border-style: solid;
    width: 17%;
    height: 22%;
    border-radius: 50%;
}

.user-card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 70px 40px;
    width: 150px;
    font-size: 20px;
    border-style: solid;
    border-left: 50px solid;
    cursor: pointer;
    display: inline-block;
}

.wallet-area {
    position: absolute;
    right: 253px;
    top: 307px;
    background-color: green;
    padding: 0 30px 20px;
    border: 5px solid rgb(143, 38, 38);
    color: gold;
}

form {
    margin: 45px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
}

form input[type="submit"] {
    display: block;
    margin: 30px 0;
}
form textarea {
    height: 290px;
    width: 500px;
    margin-bottom: 20px;
}

#new-guide-form {
    width: 100%;
}

/* #main-box {
    display: flex;
    border-style: solid;
    margin: 20px;
    height: auto;
    width: auto;
    

} */
    