body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, gold, white);
}

h1 {
    font-family: fantasy;
    font-weight: 800;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 35px;
}

.card h2 {
    margin-top: 0;
    font-size: 25px;
}

.card h3 {
    font-size: 16px;
}

button, input[type="submit"] {
    padding: 7px 25px;
    color: gold;
    border: 0;
    background: green;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background: rgba(0, 128, 0, 0.8);
}

button:disabled {
    background: #80808061;
    color: white;
    cursor: no-drop;
}

button+button {
    margin-left: 5px;
}

.topnav {
    overflow: hidden;
    background-color: green;
    color: gold;
    
}

.left-nav-items {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-nav-items {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:visited {
    color: gold;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    background-color: rgb(143, 38, 38);
    /* float: left; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.flex-container {
    display: flex;
    /* height: 100vh; */
    /* border-style: solid; */
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: flex-start;
    padding: 30px;
    align-content: space-around; */
  }

.card {
    background-color: cornsilk;
    margin: 10px;
    padding: 70px 40px;
    width: 150px;
    font-size: 20px;
    border-top: 20px solid lightgrey;
    border-left: 50px solid;
    border-left-color: navajowhite;
    cursor: pointer;
    border-radius: 0 7% 6% 6%;
}

.card:hover, .user-card:hover {
    background-color: rgb(143, 38, 38);
    border-left-color: green;
    color: gold;
    border-top: 20px solid goldenrod;
}


.show {
    text-align: center;
    background-color: palegoldenrod;
    margin: 10px;
    padding: 40px;
    /* height: 100vh; */
    width: 100vw;
    font-size: 30px;
    border-style: solid;
    /* overflow: hidden; */
    word-wrap: break-word;
}

.show img {
    
    border-style: solid;
    width: 400px;
    height: 200px;
}

.show h1 h2 p {
    text-align: left;
    word-wrap: break-word;

}
.show h2 + p {
    border-bottom: 2px solid;
    padding-bottom: 55px;
}
.user-box {
    
    background-color: palegoldenrod;
    margin: 10px;
    padding: 40px;
    height: 100%;
    width: 100vw;
    font-size: 30px;
    /* border-style: solid; */
    text-align: center;
    /* overflow: hidden; */
    /* word-wrap: break-word; */
}

.user-image {
    border-style: solid;
    width: 325px;
    height: 275px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-card {
    background-color: cornsilk;
    margin: 10px;
    padding: 70px 30px;
    width: 167px;
    font-size: 20px;
    /* border-style: solid; */
    border-left: 50px solid;
    cursor: pointer;
    display: inline-table;
    height: 150px;
    border-left-color: navajowhite;
    border-top: 20px solid lightgrey;
    border-radius: 0 7% 6% 6%;
}

.user-card h2 {
    margin-top: 15px;
}

.wallet-area {
    border: 2px solid rgb(143, 38, 38);
    color: gold;
    padding: 12px 16px;
}

.wallet-area h4 {
    display: inline-block;
    margin: 0 5px;
}

.wallet-area p {
    display: inline-block;
    margin: 0;
}

form {
    margin: 45px;
}

form label {
    margin-right: 10px;
}

form input {
    margin-bottom: 20px;
}

form input[type="submit"] {
    display: block;
    margin: auto;
}
form textarea {
    height: 290px;
    width: 500px;
    margin-bottom: 20px;
}

#new-guide-form {
    width: 100%;
    display: grid;
}

form#signup-form {
    display: grid;
}

form#edit-guide-form {
    display: grid;
}

form#edit-user-form {
    display: grid;
}

#edit-guide-form textarea {
    height: 290px;
    width: 500px;
    margin-bottom: 20px;
}

.green-check {
    color: green;
    font-size: 30px;
}

input[type="text"] {
    height: 25px;
    /* min-width: 121px; */
    width: 170px;
}

.comment-area {
    display: inline-block;
    margin-left: 10%;
}

.likes-area {
    display: inline-block;
}

#comments button {
    background-color: maroon;
    padding: 2px 7px;
    vertical-align: middle;
    margin-left: 15px;
}

ul li {
    list-style: none;
}

/* #main-box {
    display: flex;
    border-style: solid;
    margin: 20px;
    height: auto;
    width: auto;
    

} */
    