.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.left-nav-items {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right-nav-items {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.flex-container {
    display: flex;
    /* height: 100vh; */
    border-style: solid;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: flex-start;
    padding: 30px;
    align-content: space-around; */
  }

.card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 50px;
    width: 150px;
    font-size: 30px;
    border-style: solid;
}

.show {

    background-color: #f1f1f1;
    margin: 10px;
    padding: 40px;
    /* height: 100vh; */
    width: 100vw;
    font-size: 30px;
    border-style: solid;
    /* overflow: hidden; */
    word-wrap: break-word;
}

.show img {
    
    border-style: solid;
    width: 75vw;
    height: 20vh;
}

.show h1 h2 p {
    text-align: left;
    word-wrap: break-word;

}

.user-box {
    
    background-color: #f1f1f1;
    margin: 10px;
    padding: 40px;
    /* height: 100vh; */
    width: 100vw;
    font-size: 30px;
    border-style: solid;
    /* overflow: hidden; */
    word-wrap: break-word;
}

.user-image {
    float: right;
    border-style: solid;
    width: 20vw;
    height: 20vh;
}

.user-card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 50px;
    width: 200px;
    font-size: 30px;
    border-style: solid;
}

/* #main-box {
    display: flex;
    border-style: solid;
    margin: 20px;
    height: auto;
    width: auto;
    

} */
    